@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url("../images/login-bg.jpg");
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-in{
    width: 250px;
    height: auto;
}


.form {
    background-color: #fff;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 200px;
    border-radius: 20px;
}

.form h2 {
    font-size: 15px;
    text-align: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_container input {
    outline: none;
    background-color: #f3f3f3;
    padding: 5px 10px;
    border: none;
    width: 250px;
}


.button {
    border: 1px solid gold;
    background-color: gold;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

.button:hover{
    color: gold;
    border: 1px solid gold;
    background-color: #ffffff;
}

a.button{
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}